source /home/amogh.mannekote/myblue/woz/cai-nlp/venv/bin/activate
module load cuda/11.4.3

export HOME=/home/amogh.mannekote/myblue/Zero-Shot-DST/collab-dst

export CHECKPOINTS_DIR=$HOME/checkpoints
export DIALOGUES_DIR=$HOME/dialogues
export ONTOLOGY_DIR=$HOME/ontology
export RESULTS_DIR=$HOME/results
export SCRIPTS_DIR=$HOME/scripts
export SRC_DIR=$HOME/src
export VERBALIZERS_DIR=$HOME/verbalizers
